<app-filters (filtersChanged)="loadPlayers($event)"></app-filters>

<h2>Jugadores</h2>
<div class="players-grid">
  <div *ngFor="let player of players" class="card">
    <div class="content">
      <div class="back">
        <div class="back-content">
          <img [src]="player.player_face_url" alt="Foto de {{ player.long_name }}" />
          <strong class="text-center fs-6 mx-1">{{ player.long_name }}</strong>
        </div>
      </div>
      <div class="front">

        <div class="img">
          <div class="circle">
          </div>
          <div class="circle" id="right">
          </div>
          <div class="circle" id="bottom">
          </div>
        </div>

        <div class="front-content">
          <small class="badge">{{ player.club_name || 'NN' }}</small>
          <div class="description">
            <div class="title">
              <p class="title">
                <strong>{{ player.long_name }}</strong>
              </p>
            </div>
            <p class="card-footer">
              Age: {{ player.age }} &nbsp; | &nbsp; Nationality: {{ player.nationality_name }}
            </p>
          </div>
          <a [routerLink]="['/player', player.genre, player.id]" class="btn">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination">
  <button class="btn btn-outline-light px-4 py-1" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
    << Anterior
  </button>

  <span class="text-light">
    Pagina {{ currentPage }} de {{ totalPages }}
  </span>

  <button class="btn btn-outline-light px-4 py-1" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
    Siguiente >>
  </button>
</div>